/* Estilos gerais */
body {
  background-color: #000047;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.checkbox {
  margin-bottom: 20px;
}

.checkla {
  margin-right: 20px;
}

.checkin {
  margin-right: 5px;
}

.hidden {
  display: none;
}

.btn-concluir,
.btn-voltar {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-concluir:hover,
.btn-voltar:hover {
  background-color: #0056b3;
}

/* Estilos para o modal */
.modal-content {
  background-color: #fff;
  border-radius: 10px;
}

.modal-header {
  background-color: #007bff;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-body p {
  margin-bottom: 10px;
}

.modal-body ul {
  list-style-type: none;
  padding-left: 0;
}

.modal-body li {
  margin-bottom: 5px;
}

.modal-footer {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-danger:hover {
  background-color: #c82333;
}
