
        /* Adicionando estilo inline para fins de demonstração */
        body {
            font-family: Arial, sans-serif;
            background-color: #000047;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            transition: background-color 0.3s ease;
        }

        img {
            max-width: 100%;
            height: 380px;
            margin-bottom: 30px;
        }

        button {
            width: 200px;
            height: 50px;
            background-color: #3498db;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 25px;
            cursor: pointer;
            margin: 10px;
            font-size: 14px; /* Reduzido o tamanho da fonte */
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #2980b9;
        }

        label {
            color: #fff;
            font-size: 14px; /* Adicionado o tamanho da fonte */
            margin-bottom: 5px; /* Espaçamento entre o label e o input */
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input-group {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .input-group input {
            margin: 5px;
            width: 200px;
            height: 15px;
            background-color: #fff;
            color: black;
            padding: 10px 20px;
            border-color: #fff;
            border-radius: 25px;
            font-size: 14px;
            transition: background-color 0.3s ease;
        }
