* {
    text-decoration: none;
    color: #000;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #11BFF5;
    
   
}

.conteudo-principal {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-bottom: 180px;
}

.container {
    max-width: 600px;
    width: 100%;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
 
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #2c3e50;
}

select,
textarea {
    width: calc(100% - 16px);
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    font-size: 16px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    flex: 1;
    margin-right: 8px;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

button:last-child {
    margin-right: 0;
}

button:hover {
    background-color: #2980b9;
}

img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    height: 250px;
    margin: 10px;
    border-radius: 20px;
}
.diasMinutos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}


#vencimentoNovo,
#vencimentoAtual,
#planoCliente {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

textarea {
    resize: none;
    font-size: 16px;
}

.checkbox-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.autor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.links{
display: flex;
flex-direction: row;
font-size: 16px;
font-family: 'julius sans one', sans-serif;
white-space: nowrap;
text-overflow: clip;
}

#git{
opacity: 80%;
height: 40px;
width: 40px;
}

@media screen and (max-width: 600px) {
    .conteudo-principal{
        display: flex;
        flex-direction: column-reverse;
        
     }
     .container {
        max-width: 80%;
        }

  img{
    display: none;
  }
  #git{
    display: none;
  }
  .links{
    flex-direction: row;
    gap: 10px;
  }
  .footer{
    flex-direction: row;
    margin-top: -250px;
    justify-content: center;
  }
 
}