
body {
  font-family: Arial, sans-serif;
  background-color: #000047;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  text-align: center;
  color: #333;
}


form {
  margin-bottom: 20px;
  text-align: center;
}

form input[type="number"] {
  width: 120px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #0056b3;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  border-radius: 8px;
  overflow: hidden;
}

table th, table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
}

table th {
  background-color: #007bff;
  color: #fff;
}


img {
            display: flex;
            flex-direction: column;
            justify-content: center;
            max-width: 100%;
            height: 250px;
            margin: 10px;
            border-radius: 20px;
        }

        form input[type="date"] {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

form input[type="date"]::-webkit-clear-button {
  display: none;
}


