body {
    font-family: 'Asap Condensed', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    color: #333;
}

h1 {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    margin-top: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.dados {
    flex: 1;
    padding: 20px;
}

.foto {
    flex: 1;
    padding: 20px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.tabela-scroll {
    max-height: 300px;
    overflow-y: auto;
}


th {
    background-color: #f2f2f2;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.foto img {
    max-width: 450px;
    height: auto;
}