<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/faviconsea.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}">
    <link rel="shortcut icon" href="../static/imagens/faviconsea.png" type="image/x-icon">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Login</title>
</head>
<body>
    <img src="{{ url_for('static', filename='imagens/seatelecomimg.png') }}" alt="LOGO">
    <div class = "links">

        <a href="https://github.com/CaioLir4" target="_blank">Caio Lira | </a>
          <a href="https://github.com/ewdson7" target="_blank">Ewdson Tiago | </a>
            <a href="https://github.com/DevSabrisant" target="_blank">Sabrina Santana</a>

        </div><br>
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
    <form action="/login" method="post">
        <div class="input-group">
            <input type="text" id="username" name="username"  placeholder="Enter your username">
        </div>
        <div class="input-group">
            <input type="password" id="password" name="password" placeholder="Enter your password">
        </div>
        <button type="submit" id="submit">Login</button>
    </form>
</body>
</html>
