<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/faviconsea.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,300;1,300&family=Jost:ital,wght@1,300&family=Julius+Sans+One&family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;1,7..72,200&family=Mansalva&family=Pixelify+Sans&family=Poppins:wght@100&display=swap" rel="stylesheet">
<link rel="shortcut icon" href="../static/imagens/faviconsea.png" type="image/x-icon">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_homepage.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

<title>Mudança de Plano</title>

</head>
<body>
           
           
    <main class='conteudo-principal'>
  <div class="autor">

    <div class="imagens-laterais">
        <img src="{{ url_for('static', filename='imagens/seatelecomimg.png') }}" alt="Logo"> 
     </div> 

     <div class = "footer">

        <div class = "links">
    
        <a href="https://github.com/CaioLir4" target="_blank">Caio Lira | </a>
          <a href="https://github.com/ewdson7" target="_blank">Ewdson Tiago | </a>
            <a href="https://github.com/DevSabrisant" target="_blank">Sabrina Santana</a>

        </div>
            <img id = "git" src="{{ url_for('static', filename='imagens/github.png') }}" alt="github">  
        </div>

     </div>

<div class="container">
    <form action="/homepage" method="post">
        <label for="planoAtual">Plano Atual:</label>
        <select id="planoAtual" name="planoAtual" required>
            <option value="">Selecionar</option>
            <option value="500">Plano 250/500 Sea Connect</option>
            <option value="600">Plano 350/600 Sea Super</option>
            <option value="700">Plano 450/700 Sea Hiper</option>
            <option value="800">Plano 600/800 Sea Ultra</option>
            <option value="500up">Plano 500Up UP500</option>
            <option value="700up">Plano 700up UP700</option>
        </select>

        <label for="planoNovo">Plano Novo:</label>
        <select id="planoNovo" name="planoNovo" required>
            <option value="">Selecionar</option>
            <option value="500">Plano 250/500 Sea Connect</option>
            <option value="600">Plano 350/600 Sea Super</option>
            <option value="700">Plano 450/700 Sea Hiper</option>
            <option value="800">Plano 600/800 Sea Ultra</option>
            <option value="500up">Plano 500Up UP500</option>
            <option value="700up">Plano 700up UP700</option>
        </select>

        <label for="vencimento">Vencimento do Cliente:</label>
        <select id="vencimento" name="vencimento" required>
            <option value="">Selecionar</option>
            <option value="5">05</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>

        <!--<div class="checkbox-container">
            <label for="cidadeAnanindeua" style="margin-right: 10px;">Cliente de Ananindeua:</label>
            <input type="checkbox" id="cidadeAnanindeua" name="cidadeAnanindeua">
        </div>-->
        <div>
          <label for="dataSolicitacao">Data de Solicitação:</label>
            <input type="date" id="dataSolicitacao" name="dataSolicitacao" >
        </div>
        <br>

        <div class="button-container">
            <button type="submit">Calcular</button>
            <button type="button" onclick="copiarTexto()">Copiar</button>
        </div>

        <textarea id="resultado" name="resultado" rows="7" readonly>{{ resultado or 'Resultado' }}</textarea>

        <button type="button" onclick="Home()">Voltar</button>
    </form>
</div>
</main>




</body>
</html>