<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/faviconsea.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,300;1,300&family=Jost:ital,wght@1,300&family=Julius+Sans+One&family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;1,7..72,200&family=Mansalva&family=Pixelify+Sans&family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_homepage3.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <title>Aplicação de Desconto</title>



</head>
<body>

   



<main class = "conteudo-principal">
    <div class="imagens-laterais">
        <img src="{{ url_for('static', filename='imagens/seatelecomimg.png') }}" alt="Logo"> 
     </div> 
<div class="container">
    <form action="/homepage3" method="post">

        <label for="Plano">Plano do Cliente:</label>
        <select id="Plano" name="Plano" required>
            <option value="">Selecionar</option>
            <option value="500">Plano 250/500</option>
            <option value="600">Plano 350/600</option>
            <option value="700">Plano 450/700</option>
            <option value="800">Plano 600/800</option>
            <option value="500up">Plano 500Up</option>
            <option value="700up">Plano 700up</option>

        </select>

        <label for="D">Dias sem Conexão:</label>
        <input type="Number" id="D" name="D" required>
        <label for="M">Minutos sem Conexão:</label>
        <input type="Number" id="M" name="M" required>

        <br>
        <div>
          <label for="dataSolicitacao">Data de Solicitação:</label>
            <input type="date" id="dataSolicitacao" name="dataSolicitacao"required>
        </div>
          <br>

         <div class="button-container">
            <button type="submit">Calcular</button>
            <button type="button" onclick="copiarTexto3()">Copiar</button>
        </div>

        <textarea id="resultadoDesc" name="resultadoDesc" rows="4" readonly>{{ resultadoDesc or 'Resultado' }}</textarea>

        <button type="button" onclick="Home()">Voltar</button>
    </form>



</div>
</main>

<div class = "footer">

    <div class = "links">
    <a href="https://github.com/CaioLir4" target="_blank">Caio Lira |</a>
    <a href="https://github.com/ewdson7" target="_blank">Ewdson Tiago |</a>
    <a href="https://github.com/DevSabrisant" target="_blank">Sabrina Santana</a>
    </div>

    <div>
        <img id = "git" src="{{ url_for('static', filename='imagens/github.png') }}" alt="github">
    </div>

</div>



</body>
</html>