<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/faviconsea.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,300;1,300&family=Jost:ital,wght@1,300&family=Julius+Sans+One&family=Literata:ital,opsz,wght@0,7..72,200;0,7..72,300;1,7..72,200&family=Mansalva&family=Pixelify+Sans&family=Poppins:wght@100&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="../static/imagens/faviconsea.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/style_homepage2.css">
    <title>Mudança de Vencimento</title>
    <link rel="script" href="../static/js/scripts.js">
</head>
<body>

  

       


<main class = "conteudo-principal">
    <div class="imagens-laterais">
        <img src="{{ url_for('static', filename='imagens/seatelecomimg.png') }}" alt="Logo"> 
     </div> 
<div class="container">
      <form action="/homepage2" method="post">
        <label for="vencimentoAtual">Vencimento Atual:</label>
        <select id="vencimentoAtual" name="vencimentoAtual" required>
            <option value="">Selecionar</option>
            <option value="5">05</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>

        <label for="vencimentoNovo">Vencimento Novo:</label>
        <select id="vencimentoNovo" name="vencimentoNovo" required>
            <option value="">Selecionar</option>
            <option value="5">05</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="25">25</option>
            <option value="30">30</option>
        </select>

        <label for="planoCliente">Plano do Cliente:</label>
        <select id="planoCliente" name="planoCliente" required>
            <option value="">Selecionar</option>
            <option value="500">Plano 500</option>
            <option value="600">Plano 600</option>
            <option value="700">Plano 700</option>
            <option value="800">Plano 800</option>
        </select>
        <!--<div class="checkbox-container">
            <label for="cidadeAnanindeua" style="margin-right: 10px;">Cliente de Ananindeua:</label>
            <input type="checkbox" id="cidadeAnanindeua" name="cidadeAnanindeua">
        </div>-->

        <div class="button-container">
            <button type="submit">Calcular</button>
            <button type="button" onclick="copiarTexto2()">Copiar</button>
        </div>

        <textarea id="resultadoVencimento" name="resultadoVencimento" rows="4" readonly>{{ resultadoVencimento or 'Resultado' }}</textarea>

        <button type="button" onclick="trocarPagina()">Mudança de Plano</button>
    </form>



</div>
</main>

<div class = "footer">
    <div class = "links">

    <a href="https://github.com/CaioLir4" target="_blank">Caio Lira |</a>
      <a href="https://github.com/ewdson7" target="_blank">Ewdson Tiago |</a>
        <a href="https://github.com/DevSabrisant" target="_blank">Sabrina Santana</a>
    </div>

    <img id = "git" src="{{ url_for('static', filename='imagens/github.png') }}" alt="github">  

    </div>


</body>
</html>
